
/** Skilogg **/

-   Lag system som lagrer data knyttet til skiturer
-   Lage MVP og så utvide
-   Registrerte følgende data:
        -   Antall kilometer
        -   Lengde i tid (start og slutt tidspunkt)
        -   Sted og løype
        -   Utsyr (hvilke ski)
        -   Vær
        -   Føre og forhold (temeratur, vind, snøtype, nyepreppa, ikkepreppa osv)
        -   Var hunden med? 
-   Skrives i Golang
-   REST Api POST kall
-   Lagres som JSON i MongoDB
-   Front-end i Javascript fra Eir? De fra Elektron? Bytte ut MySQL del med REST Api og JSON 
-   Eller PHP og HTML?
-   Hente ut JSON data og vise frem
-   Systemet som ble laget i 2018 kjører i Elektron, Javascript og Mysql 
-   Scripene for en den strukturerte databasen finnes.
-   Mysql database
-   Plan A: 
    -   Lage structs for hver JSON
    
ToDo
-   MVP !!! KISS !!!
-   Installere mysql og køre inn databasen til Eir
-   Migrere fra MOngo til Mysql (prosess for replikering)
-   Lage rapportløsing i Mysql? 
-   Finne ut av CSS for å pynte siden. 
-   Installere løsningen i Google Cloud (html, csss, javascipt golang)
-   Sette opp CICD miljø i Netlify
-   Testmiljø. Hvordan?
-   Mer kode 
    -   Feilmelding når server ikke svarer
    -   Pålogging
    -   Utvide med kommentarfelt på skitur
    -   Hvordan strukturere kode (go, html, js) -> Drit i det, put alt i samme mappe inntil videre
    Sjekke ut GITHUB actions!

Doing 
    -   Authetication i fra Google Firebase. Fikse denne ved å lage javascript kode manuelt. Ikke Firebase sine build in...
        -   Gitt opp Firebase prøver Okta
    -   
    -   Få i gang skiloggen på havs.us  i Google Cloud
    -   Opprette test databasemiljø
    -   Konfig for bytte mellom test og utvikling


     
Done
-   Sjekke om mongodb kan kjøres i Mlab
-   Les om Golang insert til Mongodb for json objekter
-   Lage Mongodb på Mlab instans og skjønne hvordan denne virker. 
-   tutorialedge.net JSON i MongoDB
-   Flytte kode til GIT og ta i bruk.
    - Øve på clone og push   
-   Configfil for javasciptkoden. Ikke hardkode linker - Funker ikke uten  require.js modul. Utsetter inntil videre. Ta op tråden i CICD jobben
-   Installere og kjøre med Nginx web server
-   Definere JSON structs for skitur
-   Go tutorialedge.net REST Api
-   Hvordan sende inn minimum av data til rest api 
-   GO api kode
-   Lage index.html
-   Javascript som kaller Go POST api


